@import '../../node_modules/@fancyapps/ui/dist/fancybox/fancybox';
@import '../../node_modules/swiper/swiper-bundle';
@import '../../node_modules/nouislider/dist/nouislider';

@import 'base/fonts';
@import 'base/vars';
@import 'base/mixins';
@import 'base/reset';
@import 'base/containers';
@import 'base/sticky-footer';
@import 'base/base';
@import 'base/titles';


@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/front-block';
@import 'blocks/innovative-packaging';
@import 'blocks/tape-packaging';
@import 'blocks/video-block';
@import 'blocks/technical-solution';
@import 'blocks/technology-allows';
@import 'blocks/universal-solution';
@import 'blocks/product-sample';
@import 'blocks/main-directions';
@import 'blocks/tape-work';
@import 'blocks/tape-options';
@import 'blocks/tape-result';
@import 'blocks/tape-technology';
@import 'blocks/convenient-blocks';
@import 'blocks/seamless-integration';
@import 'blocks/manufacture';



@import 'blocks/contacts';
@import 'blocks/policy';
@import 'blocks/footer';








@import 'blocks/front-block-2';
@import 'blocks/wait';
@import 'blocks/modals';
