html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--default-color);
  font-family: var(--font-default);
  font-weight: 300;
  text-wrap: balance;
  font-size: var(--defaul-font-size);
  line-height: var(--defaul-line-height);
}

.body_wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100% !important;
  position: relative;
}

a {
  color: var(--link-color);
}

.hidden {
  display: none !important;
}

.main,
.no-scroll {
  overflow: hidden;
}

.relative {
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: none;
}

._img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

._image-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

._white-text {
  color: var(--light-color);
}

.-mt-385 {
  margin-top: -385px;
}
.-mt-277 {
  margin-top: -277px;
}
.-mt-385,
.-mt-277 {
  @include xl {
    margin-top: -240px;
  }
  @include lg {
    margin-top: -110px;
  }
  @include md {
    margin-top: -70px;
  }
}
._section-lg {
  max-width: 1890px;
  width: 100%;
  margin: 0 auto;
}
._section-md {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
._section-sm {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
.divider {
  width: 100%;
  height: 1px;
  background: #cbd4dd;
  margin: 150px 0 20px;

  @include xl {
    margin-top: var(--indent);
    margin-bottom: 0;
  }

  @include sm {
    display: none;
  }
}

.cursor {
  display: none;

  path {
    fill: var(--primary-2);
  }

  @include lg {
    display: flex;
    justify-content: center;
  }
}

.play {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    div {
      scale: 1.2;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--primary-2);
    box-shadow: 0px 20px 40px rgba(250, 185, 0, 0.2),
      inset 0px 10px 25px rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;

    @include md {
      width: 60px;
      height: 60px;
    }
  }
}

.logo {
  max-width: 301px;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;

  svg {
    max-width: 104px;
    width: 100%;

    @include xl {
      max-width: 85px;
    }
  }

  &__text {
    padding-left: 15px;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(22 / 14 * 100%);

    &::before {
      position: absolute;
      content: "";
      display: block;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1);
      height: 31px;
      width: 1px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.mail-block {
  display: flex;
  align-items: start;
  gap: 15px;
  max-width: 198px;
  width: 100%;
  height: fit-content;

  svg {
    margin-top: 14px;
    width: 21px;
    min-width: 21px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__mail {
    font-weight: 600;
    font-size: 24px;
    line-height: calc(40 / 24 * 100%);
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--primary-hover);
    }
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(22 / 14 * 100%);
    text-decoration: underline;
    text-underline-offset: 3px;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--primary-hover);
      opacity: 1;
    }
  }
}

.social-block {
  max-width: 301px;
  display: flex;
  align-items: start;
  gap: 20px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    border-radius: 50%;
    background-color: var(--whatsapp-color);
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--whatsapp-hover);
      scale: 1.1;
    }
  }

  &__phones {
    display: flex;
    align-items: start;
    gap: 15px;
  }

  &__phones-icon {
    width: 14px;
    height: 22px;
    min-width: 14px;
    min-height: 22px;
    margin-top: 9px;
  }

  &__phones-top {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__phones-num {
    font-weight: 600;
    font-size: 24px;
    line-height: calc(40 / 24 * 100%);

    @include lg {
      font-size: 20px;
    }
  }

  &__phones-link {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(21 / 14 * 100%);
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #919191;
    display: inline-block;

    @include lg {
      font-size: 14px;
    }

    @include md {
      font-size: 12px;
    }

    &:hover {
      color: var(--primary-hover);
    }
  }
}

._main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px;
  width: 100%;
  height: 96px;
  background-color: var(--primary);
  font-family: var(--font-default);
  text-align: center;
  color: var(--light-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 82px 33px rgba(235, 53, 0, 0.01),
    0px 46px 28px rgba(235, 53, 0, 0.05), 0px 21px 21px rgba(235, 53, 0, 0.09),
    0px 5px 11px rgba(235, 53, 0, 0.1);
  border-radius: 100px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(24 / 14 * 100%);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include xl {
    height: 90px;
  }

  @include lg {
    height: 80px;
    max-width: 340px;
  }

  @include md {
    height: 70px;
    font-size: 12px;
  }

  @include sm {
    height: 65px;
    max-width: 300px;
  }

  &:hover {
    background-color: var(--primary-hover);
    box-shadow: 0px 0px 0px transparent, inset 0px 0px 0px transparent;
  }

  &:active {
    background-color: var(--primary);
    box-shadow: 0px 0px 0px transparent, inset 0px 0px 0px transparent;
  }
}
._whatsapp-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px;
  width: 100%;
  height: 96px;
  background-color: var(--whatsapp-color);
  font-family: var(--font-default);
  text-align: center;
  color: var(--light-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 100px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(24 / 14 * 100%);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include xl {
    height: 90px;
  }

  @include lg {
    height: 80px;
    max-width: 340px;
  }

  @include md {
    height: 70px;
    font-size: 14px;
  }

  @include sm {
    height: 65px;
    max-width: 300px;
  }

  &:hover {
    background-color: var(--whatsapp-hover);
  }

  &:active {
    background-color: var(--whatsapp-color);
  }
}
.form {
  &__items {
    display: grid;
    gap: 20px;
  }

  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(22 / 14 * 100%);
    text-transform: uppercase;
    color: #939393;
    margin-bottom: 8px;
  }

  &__labels {
    display: flex;
    gap: 15px;

    @include sm {
      flex-wrap: wrap;
      max-width: none;
      gap: 10px;
    }
  }

  &__label {
    width: 100%;
    cursor: pointer;

    input {
      display: none;
    }

    .tel,
    .telegram,
    .whatsapp {
      svg path {
        fill: #cacaca;
      }
    }

    input:checked + .sms {
      background-color: var(--primary);
      color: var(--default-color);
      border-color: transparent;

      svg path {
        stroke: var(--default-color);
        fill-opacity: 1;
      }
    }

    input:checked + .tel {
      background-color: var(--primary-2);
      color: var(--light-color);
      border-color: transparent;

      svg path {
        fill: var(--light-color);
        fill-opacity: 1;
      }
    }

    input:checked + .telegram {
      background-color: var(--telegram-color);
      color: var(--light-color) !important;
      border-color: transparent;

      svg path {
        fill: var(--light-color);
        fill-opacity: 1;
      }
    }

    input:checked + .whatsapp {
      background-color: var(--whatsapp-color);
      color: var(--light-color) !important;
      border-color: transparent;

      svg path {
        fill: var(--light-color);
        fill-opacity: 1;
      }
    }
  }

  &__label-inner {
    height: 42px;
    border: 1px solid #cacaca;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    transition: all 0.3s ease-in;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(22 / 14 * 100%);
    text-align: center;
    color: #cacaca;
    border-radius: 50px;

    svg {
      height: 20px;

      path {
        transition: all 0.3s ease-in-out;
      }
    }

    &.tel:hover {
      border-color: var(--primary-2);
      color: var(--primary-2);

      svg path {
        fill: var(--primary-2);
        fill-opacity: 1;
      }
    }

    &.sms:hover {
      border-color: var(--primary);
      color: var(--default-color);

      svg path {
        stroke: var(--default-color);
        fill-opacity: 1;
      }
    }

    &.whatsapp:hover {
      border-color: var(--whatsapp-color);
      color: var(--whatsapp-color);

      svg path {
        fill: var(--whatsapp-color);
        fill-opacity: 1;
      }
    }

    &.telegram {
      svg {
        height: 14px;
      }

      &:hover {
        border-color: var(--telegram-color);
        color: var(--telegram-color);

        svg path {
          fill: var(--telegram-color);
          fill-opacity: 1;
        }
      }
    }
  }

  &__file-inner {
    width: 100%;
    border: none;
    outline: none;
    background-color: inherit;
  }

  &__file-text {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    letter-spacing: 0.05em;
    color: #cdcdcd;

    @include sm {
      font-size: 16px;
    }
  }

  &__checkbox {
    margin-top: 15px;

    @include sm {
      margin-top: 10px;
    }
  }
}

._input-label {
  height: 96px;
  width: 100%;
  background-color: var(--light-color);
  border: 1px solid #ededed;
  box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.02);
  border-radius: 100px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  padding: 35px;

  svg {
    min-width: 14px;
    path {
      fill: #cdcdcd;
    }
  }

  &__input {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(24 / 18 * 100%);
    letter-spacing: 0.05em;
    color: #cdcdcd;
    border: none;
    outline: none;
    background-color: inherit;
    &::placeholder {
      font-weight: 500;
      font-size: 18px;
      line-height: calc(24 / 18 * 100%);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #cdcdcd;

      @include md {
        font-size: 14px;
      }
    }
  }

  &::before {
    content: 112;
  }

  &:focus {
    background-color: var(--light-color);
  }

  @include xl {
    height: 90px;
  }

  @include lg {
    padding: 25px;
    height: 80px;
    gap: 10px;
  }

  @include md {
    height: 70px;
  }

  @include sm {
    height: 65px;
  }
}

.checkbox-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-size: 12px;

  input {
    display: none !important;
  }

  input:checked + span svg {
    scale: 1;
  }

  &__check {
    min-width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(20 / 12 * 100%);
    color: #939393;

    a {
      color: var(--primary);
    }
  }

  svg {
    scale: 0;
    transition: all 0.3s ease-in-out;
    width: 9px;
    height: 6px;

    path {
      fill: var(--primary);
    }
  }
}

.list-point {
  li {
    position: relative;
    padding-left: 26px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      background-image: url(../images/icons/icon-list.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 11px;
      height: 8px;
      left: 0;
      top: 10px;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  max-width: 70px;
  max-height: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-2);
  transition: all 0.3s ease-in-out;
  border-radius: 50%;

  &:hover {
    background-color: var(--primary-hover);
  }

  &::after {
    content: "";
    width: 12px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/icons/arrow.svg);
  }
}

.swiper-button-prev {
  left: -30px;
  
    &::after {
      rotate: 180deg;
    }
}

.swiper-button-next {
  right: -30px;
}

.mt-indent {
  margin-top: var(--indent);
}
