._title {
  font-weight: 600;
  font-size: 46px;
  line-height: calc(54/46*100%);
  font-family: var(--font-default);
  text-align: center;
  margin-bottom: 50px;

  span {
    color: var(--primary-2);
  }


  @include xl {
    font-size: 40px;
    margin-bottom: 40px;
  }

  @include lg {
    font-size: 36px;
    margin-bottom: 30px;
  }

  @include md {
    font-size: 30px;
    margin-bottom: 25px;

    br {
      display: none;
    }
  }

  @include sm {
    font-size: 26px;
    margin-bottom: 20px;
  }

}

._title-white {
  font-family: var(--font-default);
  font-weight: 600;
  font-size: 46px;
  line-height: calc(54/46*100%);
  text-align: center;
  color: var(--light-color);
  margin-bottom: 50px;

  span {
    color: var(--primary-2);
  }

  @include xl {
    font-size: 40px;
    margin-bottom: 40px;
  }

  @include lg {
    font-size: 36px;
    margin-bottom: 30px;
  }

  @include md {
    font-size: 30px;
    margin-bottom: 25px;

    br {
      display: none;
    }
  }

  @include sm {
    font-size: 26px;
    margin-bottom: 20px;
  }

}

._subtitle {
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 26px;
  line-height: calc(36/26*100%);
  text-align: center;
  margin: 20px 0 50px;

  @include xl {
    font-size: 28px;
    margin-bottom: 40px;
  }

  @include lg {
    font-size: 26px;
    margin-bottom: 30px;
  }

  @include md {
    font-size: 24px;
    margin: 15px 0 25px;

    br {
      display: none;
    }
  }

  @include sm {
    font-size: 22px;
    margin: 10px 0 15px;
  }

  @include xs {
    font-size: 20px;
  }

}

._subtitle-white {
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 26px;
  line-height: calc(36/26*100%);
  text-align: center;
  color: var(--light-color);
  margin: 20px 0 50px;

  @include xl {
    font-size: 28px;
    margin-bottom: 40px;
  }

  @include lg {
    font-size: 26px;
    margin-bottom: 30px;
  }

  @include md {
    font-size: 24px;
    margin: 15px 0 25px;

    br {
      display: none;
    }
  }

  @include sm {
    font-size: 22px;
    margin: 10px 0 15px;
  }

  @include xs {
    font-size: 20px;
  }

}