<div class="social-block @@class">
  <!-- @@include('../../images/icons/2gis.svg') -->
  <div class="social-block__info">
    <div class="social-block__top">
      <span>5.0</span>
      <div class="social-block__stars">
        <!-- @@include('../../images/icons/star.svg') -->
        <!-- @@include('../../images/icons/star.svg') -->
        <!-- @@include('../../images/icons/star.svg') -->
        <!-- @@include('../../images/icons/star.svg') -->
        <!-- @@include('../../images/icons/star.svg') -->
      </div>
    </div>
    <p class="social-block__text">
      на основе 15 оценок<br>
      в 2ГИС
    </p>
  </div>
</div>