.convenient-blocks {
  padding-top: var(--indent);

  &__title {
    margin-bottom: 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @include xl {
      gap: 10px;
    }

    @include lg {
      grid-auto-flow: column;
      padding-bottom: 10px;
      overflow-x: auto;
    }
  }

  &__item {
    background-image: url(../images/convenient-blocks-item-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 50px;
    border-radius: 14px;
    color: var(--light-color);
    min-height: 470px;

    @include xl {
      padding: 30px;
      min-height: 400px;
    }
    @include md {
      min-height: 350px;
    }

    @include lg {
      width: 300px;
      br {
        display: none;
      }
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: 26px;
    line-height: calc(34 / 26 * 100%);

    @include lg {
      font-size: 24px;
    }
    @include md {
      font-size: 22px;
    }
  }

  &__item-text {
    margin-top: 15px;
    span {
      font-weight: 500;
    }

    @include lg {
      font-size: 16px;
    }
  }

  &__item-img {
    position: absolute;
    bottom: -50px;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);

    @include xl {
      width: 82%;
    }
    @include md {
      width: 79%;
    }
  }
}
