.contacts {
  width: 100%;
  padding-top: var(--indent);

  &__map {
    position: relative;

    @include md {
      padding-bottom: 0;
      margin-top: 15px;
      display: flex;
      flex-direction: column-reverse;
      gap: 15px;
    }
  }

  &__container {
    padding: 115px 0 92px;

    @include md {
      padding: 0;
      display: flex;
      justify-content: center;
    }
  }

  &__contacts {
    max-width: 450px;
    width: 100%;
    padding: 50px;
    background-color: var(--light-color);
    border-radius: 14px;
    box-shadow: 66px 238px 99px rgba(145, 145, 145, 0.01),
      37px 134px 83px rgba(145, 145, 145, 0.05),
      17px 60px 62px rgba(145, 145, 145, 0.09),
      4px 15px 34px rgba(145, 145, 145, 0.1);
    position: relative;
    margin-right: auto;
    top: 0;
    left: 0;
    z-index: 2;

    @include md {
      position: static;
      margin-left: 0;
      padding: 30px;
      margin-top: 0;
      min-width: unset;
      max-width: none;
    }

    @include xs {
      width: 100%;
      max-width: 350px;
      margin: auto;
      min-width: unset;
    }
  }

  &__contacts-name {
    font-weight: 600;
    font-size: 30px;
    line-height: calc(34 / 30 * 100%);
    margin-bottom: 20px;

    @include lg {
        font-size: 26px;
    }

    @include md {
        font-size: 24px;
        margin-bottom: 15px;
    }
  }

  &__contacts-inner {
    display: grid;
    gap: 20px;
    margin-bottom: 30px;

    @include md {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }

    @include xs {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
  }

  &__contacts-title {
    font-weight: 600;
    font-size: 16px;
    line-height: calc(26 / 16 * 100%);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    opacity: 0.3;
  }

  &__contacts-text {
    margin-top: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: calc(26 / 24 * 100%);
    display: inline-block;
    transition: all .3s ease-in-out;

    &:hover{
      color: var(--primary-2);
    }

    @include sm {
      font-size: 18px;
    }
  }

  &__contacts-addrs {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(26 / 18 * 100%);

    @include sm {
      font-size: 18px;
    }
  }

  &__contacts-btn {
    max-width: 310px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-2);
    background-color: transparent;
    border-radius: 100px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(24 / 14 * 100%);
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--primary-2);
    transition: all .3s ease-in-out;

    @include md {
        max-width: 290px;
        height: 60px;
    }

    &:hover{
      background-color: var(--primary-2);
      color: var(--light-color);
    }
  }
}

.mymap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 2;

  @include md {
    position: static;
    height: 450px;
  }
}
