.footer {
  padding: 35px 0;

  @include lg {
    padding: 20px 0;
  }

  @include sm {
    padding: 15px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    @include xl {
      gap: 10px;
    }

    @include lg {
      flex-wrap: wrap;
    }

    @include md {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }

  &__links {
    max-width: 230px;
    width: 100%;
    display: grid;
    gap: 10px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(21/14*100%);
    width: fit-content;
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  &__link{
    transition: all .3s ease-in-out;

    &:hover {
      color: var(--primary);
      opacity: 1;
    }
  }
}