.front-block {
  margin-top: 20px;
  background-image: url(../images/front-block-bg.webp);
  padding-top: 303px;
  position: relative;
  overflow: hidden;

  @include xl {
    padding-top: 230px;
  }

  @include lg {
    margin-top: 0;
    padding-top: 160px;
  }

  @include sm {
    padding-top: 150px;
  }

  &__video-elem {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
  }



  &__title {
    font-weight: 600;
    font-size: 72px;
    line-height: 111%;
    color: var(--light-color);
    margin-bottom: 20px;

    @include xl {
      font-size: 62px;
    }

    @include lg {
      font-size: 50px;
      margin-bottom: 15px;
    }

    @include md {
      font-size: 34px;
      margin-bottom: 10px;
    }

    @include sm {
      font-size: 30px;
    }
  }

  &__subtitle {
    font-weight: 300;
    font-size: 34px;
    line-height: 124%;
    color: var(--light-color);
    margin-bottom: 50px;

    @include xl {
      font-size: 30px;
      margin-bottom: 40px;
    }

    @include lg {
      font-size: 26px;
      margin-bottom: 30px;
    }

    @include md {
      font-size: 22px;
      margin-bottom: 20px;
    }

    @include sm {
      font-size: 20px;
      margin-bottom: 15px;
    }


  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 30px;

    @include md {
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
  }

  &__btn {
    max-width: 380px;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__socials-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    color: var(--light-color);
  }

  &__socials-items {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__socials-item {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include md {
      width: 46px;
      height: 46px;
      min-width: 46px;
      min-height: 46px;
      padding: 12px;
    }

    &.whatsapp {
      background-color: var(--whatsapp-color);
    }

    &.telegram {
      background-color: var(--telegram-color);
    }
  }

  &__bottom {
    margin-top: 47px;

    @include lg {
      margin-top: 25px;
    }
  }

  &__bottom-title {
    font-weight: 500;
    font-size: 72px;
    line-height: 1;
    color: var(--light-color);
    margin-bottom: 5px;
    text-align: right;

    @include xl {
      font-size: 62px;
    }

    @include lg {
      font-size: 50px;
    }

    @include md {
      font-size: 44px;
    }
  }


  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;

    @include lg {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.25);
    padding: 30px 35px;

    @include xl {
      padding: 25px;
    }

    @include lg {
      padding: 20px;
      display: flex;
      align-items: center;
      gap: 15px;
    }

    @include md {
      gap: 10px;
    }
  }

  &__item-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin-bottom: 15px;

    @include lg {
      margin: 0;
    }
  }

  &__item-title {
    font-weight: 300;
    font-size: 22px;
    line-height: 136%;
    color: var(--light-color);

    @include xl {
      font-size: 18px;
    }

    @include lg {
      br {
        display: none;
      }
    }

    @include xs {
      font-size: 16px;
    }
  }
}