.front-block {
  background-image: url(../images/front-block-bg.webp);
  padding: var(--indent) 0 190px;
  
  @include xl {
    padding-bottom: 180px;
  }

  @include lg {
    padding: var(--indent) 0;
  }

  &__title {
    font-weight: 600;
    font-size: 72px;
    line-height: 111%;
    color: var(--light-color);
    margin-bottom: 20px;

    @include xl {
      font-size: 62px;
    }

    @include lg {
      font-size: 50px;
      margin-bottom: 15px;
    }

    @include md {
      font-size: 34px;
      margin-bottom: 10px;
    }

    @include sm {
      font-size: 30px;
    }
  }

  &__subtitle {
    font-weight: 300;
    font-size: 34px;
    line-height: 124%;
    color: var(--light-color);
    margin-bottom: 50px;

    @include xl {
      font-size: 30px;
      margin-bottom: 40px;
    }

    @include lg {
      font-size: 26px;
      margin-bottom: 30px;
    }

    @include md {
      font-size: 22px;
      margin-bottom: 20px;
    }

    @include sm {
      font-size: 20px;
      margin-bottom: 15px;
    }


  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 30px;

    @include md {
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
  }

  &__btn {
    max-width: 380px;
  }
}