.front-block {
  background-image: url(../images/front-block-bg.webp);
  padding: var(--indent) 0 190px;

  @include xl {
    padding: var(--indent) 0;
  }

  @include lg {
    padding: var(--indent) 0;
  }

  &__top {
    display: flex;
    align-items: end;
    gap: 84px;
    margin-bottom: 50px;

    @include xl {
      margin-bottom: 40px;
      gap: 60px;
    }

    @include lg {
      margin-bottom: 30px;
    }

    @include md {
      margin-bottom: 25px;
      gap: 15px;
      flex-direction: column;
      align-items: start;
      br{display: none;}
    }

    @include sm {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 60px;
    line-height: calc(68/60*100%);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--light-color);

    @include xl {
      font-size: 54px;
    }

    @include lg {
      font-size: 44px;
    }

    @include md {
      font-size: 34px;
    }

    @include sm {
      font-size: 30px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: calc(38/30*100%);
    color: var(--light-color);
    position: relative;
    padding-left: 23px;

    &::before {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--primary-2);
      left: 0;
      top: 17px;
      display: block;
    }


    @include xl {
      font-size: 28px;
    }

    @include lg {
      font-size: 24px;
    }

    @include md {
      font-size: 22px;
    }

    @include sm {
      font-size: 20px;
    }


  }

  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 390px;

    @include md {
      gap: 10px;
    }
  }

  &__social {
    background-color: var(--light-color);
    border-radius: 100px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--whatsapp-color);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(22/14*100%);
    text-transform: uppercase;
    svg path {
      fill: var(--whatsapp-color)
    }
  }
}