.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  max-width: 100%;

  &__top {
    background-color: var(--light-color);
    padding: 15px 0;

    &.sticky {
      position: fixed;
      width: 100%;
    }
  }

  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    @include lg {
      gap: 10px;
    }
  }

  &__top-btn {
    width: 100%;
    max-width: 195px;
    height: 50px;
    background-color: #EFEFEF;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    transition: all .3s ease-in-out;
    cursor: pointer;

    @include xs {
        max-width: 180px;
        height: 45px;
    }

    &:hover {
      background-color: var(--primary);
      color: var(--light-color);
    }
  }

  &__bottom {
    position: relative;

    @include lg {
      display: none;
    }
  }

  .social-block {
    position: absolute;
    right: 15px;
    top: 0;
    padding: 25px 50px 0 0;
    gap: 44px;
    max-width: 385px;

    @include xl {
      padding: 20px 25px 0 0;
      gap: 17px;
    }

    @include lg {
      position: static;
      gap: 15px;
      padding: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 337px;
      height: 172px;
      background: #EB3500;
      border-radius: 0px 0px 0px 50px;
      z-index: 0;
      top: 0;
      right: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 337px;
      height: 172px;
      background: #28211C;
      border-radius: 0px 0px 0px 50px;
      z-index: 0;
      top: 0;
      right: 0;
    }

    &::before,
    &::after {
      @include xl {
        width: 285px;
        height: 160px;
      }

      @include lg {
        display: none;
      }
    }


    &__link {
      background: linear-gradient(90deg, #25D366 75%, #136D35 91.35%);
      width: 52px;
      height: 52px;
      position: relative;
      z-index: 0;

      @include lg {
        background: var(--whatsapp-color);
        width: 45px;
        height: 45px;
      }

      svg {
        width: 22px;
        height: 22px;

        @include lg {
          width: 20px;
          height: 20px;
        }
      }
    }

    &__phones {
      position: relative;
      z-index: 1;
    }

    &__phones-num {
      color: var(--light-color);

      @include lg {
        color: var(--default-color);
      }

      &:hover {
        color: var(--primary);
      }
    }
  }

  &__bottom-inner {
    padding: 20px 0;
    display: flex;
    align-items: center;
  }

  &__bottom-mail {
    margin-left: 125px;

    @include xl {
      margin-left: 50px;
    }

    @include lg {
      margin-left: 0;
    }
  }

  &__top-phone,
  &__top-logo {
    display: none;

    @include lg {
      display: flex;
    }
  }

  &__top-logo {
    @include lg {
    width: fit-content;

      .logo__text {
        display: none;
      }
    }
  }


  &__top-phone {

    @include lg {
        order: 1;
    }

    @include md {
      display: none;
    }
  }

}