.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  max-width: 100%;

  &__top {
    background-color: var(--light-color);
    padding: 15px 0;

    &.sticky {
      position: fixed;
      width: 100%;
    }
  }

  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__top-btn {
    width: 100%;
    max-width: 195px;
    height: 50px;
    background-color: #EFEFEF;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--primary);
      color: var(--light-color);
    }
  }






  &__bottom {
    padding: 20px 0;
    position: relative;

    @include lg {
      display: none;
    }
  }

  &__bottom-inner {
    display: flex;
    align-items: center;
  }

  &__bottom-mail {
    margin: 0 auto 0 200px;

    @include lg {
      margin-left: 0;
    }
  }

  &__top-phone,
  &__top-logo {
    display: none;

    @include lg {
      display: block;
    }
  }

  &__top-phone {
    @include xs {
      display: none;
    }
  }

  &__top-mail {
    display: none;

    @include lg {
      display: flex;
    }

    @include md {
      display: none;
    }

  }

}