.header {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  z-index: 50;
  max-width: 1860px;

  &.black-header {
    background-color: var(--default-color);
  }

  @media (max-width: 1420px) {
    left: 10px;
    right: 10px;
  }

  @include xl {
    left: 0;
    right: 0;
  }

  @include lg {
    top: 20px;
  }

  &.top-none {
    .header {
      &__top {
        display: none;
      }

      &__bottom {
        margin-top: 0;

        @include lg {
          display: block;
        }
      }

      &__bottom-inner{
        justify-content: space-between;
      }

      &__bottom-social{
        margin: 0;

        @include md {
            display: none;
        }
      }
    }
  }

  &__top {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 17px 0;

    &.sticky {
      background-color: #423F41;
      top: 10px;
      position: fixed;
      width: 100%;
      max-width: 1860px;
    }
  }

  &__top-inner {
    @include lg {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__bottom {
    margin-top: 20px;

    @include xl {
      margin-top: 10px;
    }

    @include lg {
      display: none;
    }
  }

  &__bottom-inner {
    display: flex;
  }

  &__bottom-social {
    margin: 0 auto 0 200px;

    @include lg {
      margin-left: 0;
    }
  }

  &__top-phone,
  &__top-logo {
    display: none;

    @include lg {
      display: block;
    }
  }

  &__top-phone {
    @include xs {
      display: none;
    }
  }

  &__top-social {
    display: none;

    @include lg {
      display: flex;
    }

    @include md {
      display: none;
    }

  }

}