.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  max-width: 100%;

  &__top {
    background-color: var(--light-color);
    padding: 15px 0;

    &.sticky {
      position: fixed;
      width: 100%;
    }
  }

  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__top-btn {
    width: 100%;
    max-width: 195px;
    height: 50px;
    background-color: #EFEFEF;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--primary);
      color: var(--light-color);
    }
  }

  &__bottom {
    position: relative;

    @include lg {
      display: none;
    }
  }

  .social-block {
    position: absolute;
    right: 15px;
    top: 0;
    padding: 25px 50px 0 0;
    gap: 44px;
    max-width: 385px;

    &::before {
      content: '';
      position: absolute;
      width: 337px;
      height: 172px;
      background: #EB3500;
      border-radius: 0px 0px 0px 50px;
      z-index: -1;
      top: 0;
      right: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 337px;
      height: 172px;
      background: #28211C;
      border-radius: 0px 0px 0px 50px;
      z-index: 0;
      top: 0;
      right: 0;

    }

    &__link {
      background: linear-gradient(90deg, #25D366 75%, #136D35 91.35%);
      width: 52px;
      height: 52px;

      svg{
        width: 22px;
        height: 22px;
      }
    }

    &__phones {
      position: relative;
      z-index: 1;
    }

    &__phones-num{
      color: var(--light-color);

      &:hover{
        color: var(--primary);
      }
    }
  }

  &__bottom-inner {
    padding: 20px 0;
    display: flex;
    align-items: center;
  }

  &__bottom-mail {
    margin: 0 auto 0 125px;

    @include lg {
      margin-left: 0;
    }
  }

  &__top-phone,
  &__top-logo {
    display: none;

    @include lg {
      display: block;
    }
  }

  &__top-phone {
    @include xs {
      display: none;
    }
  }

  &__top-mail {
    display: none;

    @include lg {
      display: flex;
    }

    @include md {
      display: none;
    }

  }

}