.main-directions {
  padding-top: var(--indent);
  position: relative;
  z-index: 1;

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include xl {
      gap: 15px;
    }
    @include md {
        grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    background-image: url(../images/main-directions-bg.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 50px;
    border-radius: 14px;
    position: relative;
    min-height: 470px;

    @include lg {
      padding: 30px;
      min-height: 400px;
    }

    @include xs {
        br{display: none;}
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: 26px;
    line-height: calc(34 / 26 * 100%);

    @include lg {
        font-size: 24px;
    }
  }

  &__item-text {
    margin-top: 15px;
    span {
      font-weight: 500;
    }

    @include lg {
      font-size: 16px;
    }
  }

  &__item-img {
    position: absolute;
    bottom: -50px;
    right: 0;

    @include xl {
      width: 90%;
    }
    @include md {
        max-width: 330px;
        bottom: 5px;
    }
  }
}
