.politics-modal {
  max-width: 600px !important;
  background-color: var(--light-color) !important;
  color: var(--default-color) !important;

  &__title {
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 20px;

    @include sm {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  &__text {
    display: grid;
    gap: 15px;

    @include sm {
      gap: 8px;
    }
  }
}

.popup {
  max-width: 900px;
  width: 100%;
  padding: 0;

  @include md {
    max-width: 500px;
  }

  &__top {
    height: 65px;
    background-color: #e2e2e2;

    @include xs {
      height: 50px;
    }
  }

  &__top-text {
    height: 100%;
    max-width: 330px;
    width: 100%;
    background: linear-gradient(248.21deg, #94ea65 47.23%, #67b73c 82.39%);
    font-weight: 600;
    font-size: 20px;
    line-height: calc(28 / 20 * 100%);
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 15px 40px;

    @include xs {
      max-width: 250px;
      padding: 15px;
      font-size: 18px;
    }
  }

  &__inner {
    display: flex;

    @include md {
      display: block;
    }
  }

  &__left {
    max-width: 50%;
    width: 100%;
    padding: 40px 35px 91px 70px;
    position: relative;

    @include md {
      display: none;
    }
  }

  &__left-title {
    font-weight: 600;
    font-size: 28px;
    line-height: calc(40 / 28 * 100%);
    margin-bottom: 51px;

    @include xl {
      margin-bottom: 25px;
    }
  }

  &__left-content {
    margin-left: auto;
    max-width: 206px;
    position: relative;
    z-index: 1;
  }

  &__left-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 5px;
  }

  &__left-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(22 / 14 * 100%);
    color: #a3a3a3;
    margin-bottom: 30px;
  }

  &__left-info {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    margin-bottom: 20px;
  }

  &__left-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 85%;
  }

  &__form {
    background-image: url(../images/callback-bg.webp);
    padding: 30px 70px 30px 50px;
    max-width: 50%;
    width: 100%;

    @include lg {
        padding: 30px;
    }

    @include md {
      max-width: none;
    }

    @include xs {
      padding: 25px;
    }
  }

  &__form-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    display: none;

    @include md {
      display: block;
    }

    @include sm {
      font-size: 22px;
    }
  }

  &__form-subtitle {
    font-weight: 500;
    line-height: calc(28 / 20 * 100%);
    font-size: 18px;
    margin-bottom: 15px;
    display: none;

    @include md {
      display: block;
    }

    @include sm {
      font-size: 16px;
    }
  }

  &__items {
    display: grid;
    gap: 20px;
    margin-bottom: 30px;

    @include md {
      margin-bottom: 15px;
      gap: 10px;
    }
  }

  &__item-title {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(22 / 14 * 100%);
    margin-bottom: 12px;

    span {
      color: #ff0b0b;
    }
  }

  &__form-inp {
    height: 70px;
    padding: 23px 40px;
    outline: none;
    border: none;
    background-color: var(--light-color);
    box-shadow: inset 0px 10px 15px rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    max-width: 320px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);

    &::placeholder {
      color: var(--default-color);
      opacity: 1;
    }
  }

  &__labels {
    gap: 10px;
    max-width: 330px;
    margin-bottom: 10px;
  }

  &__label {
    width: fit-content;

    &:hover,
    input:checked + .form__label-inner {
      color: var(--light-color) !important;
    }

    input:checked + span {
      background-color: #2a2a2a;
    }
  }

  &__label-inner {
    padding: 3px 20px;
    background-color: var(--light-color);
    width: fit-content;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(36 / 12 * 100%);
    color: var(--default-color);
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  &__inp-time {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(26 / 18 * 100%);

    &::placeholder {
      opacity: 0.3;
    }
  }

  &__form-btn {
    height: 75px;
    max-width: 320px;
    box-shadow: none;
  }

  .checkbox-block{
    display: flex;
    align-items: start;

    &__check{
margin-top: 5px;
background-color: var(--light-color);
    }
    a{
      color: inherit;
    }
  }
}

#rekv {
  padding: 30px;
  color: var(--default-color);
  .popup__title {
    color: var(--default-color);
  }
}
.fancybox__content:has(iframe) {
  height: 90% !important;
}
.fancybox__content#technical-solution {
  max-width: 1230px;
    width: 100%;
    padding: 0;
    background: transparent;
}
