.support {
  padding-top: var(--indent);

  &__swiper-wrapper {
    position: relative;
    margin-bottom: 80px;

    @include xl {
      margin-bottom: 60px;
    }

    @include lg {
      margin-bottom: 40px;
    }
    @include md {
      margin-bottom: 30px;
    }
    @include sm {
      margin-bottom: 20px;
    }
  }

  &__swiper {
    overflow: visible;
  }

  &__slide {
    height: unset;
    overflow: hidden;
    border-radius: 14px;
    &.blur > div {
      filter: blur(5px);
    }
  }

  &__item {
    position: relative;
    height: 590px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 14px;

    @include lg {
        height: 450px;
    }
  }

  &__item-inner {
    position: relative;
    padding: 40px;
    color: var(--light-color);

    @include xl {
        padding: 25px;
                br{
          display: none;
        }
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: 26px;
    line-height: calc(34 / 26 * 100%);

    @include xl {
        font-size: 24px;

    }

    @include lg {
        font-size: 22px;
    }
  }

  &__item-content {
    margin-top: 10px;
    display: grid;
    gap: 10px;
  }
  .swiper-button-prev {
    left: -18%;
    @include xl {
        left: 5%;
    }
  }
  .swiper-button-next {
    right: -18%;
    @include xl {
        right: 5%;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0.7;
    &.swiper-button-disabled {
      scale: 0;
      opacity: 0;
    }
    &:hover{
      opacity: 1;
    }
  }

  &__elems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    @include md {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  &__elem {
    position: relative;
    padding-bottom: calc(600 / 560 * 100%);
    border-radius: 14px;
    overflow: hidden;

    &:nth-child(1) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}
