.system-working {
  padding-top: var(--indent);

  &__title {
    margin-bottom: 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 17px;
    margin-bottom: 10px;

    @include xl {
      gap: 10px;
    }

    @include lg {
      grid-auto-flow: column;
      padding-bottom: 10px;
      overflow-x: auto;
    }
  }

  &__item {
    background-image: url(../images/system-working-item-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    color: var(--light-color);

    @include xl {
        padding: 20px;
        br{display: none;}
    }
    @include lg {
        width: 280px;
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;

    @include xl {
      font-size: 18px;
    }
  }

  &__item-text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    margin-bottom: 25px;
  }

  &__item-bottom {
    margin-top: auto;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  &__item-icon {
    background-color: var(--primary-2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  &__item-step {
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.1);
  }
}
