.tape-options {
  padding-top: 80px;

  @include xl {
      padding-top: 40px;
  }

  &__inner {
    display: flex;
    align-items: end;
    gap: 20px;
    margin-bottom: 12px;
    position: relative;
    &::before {
      content: "2";
      font-weight: 600;
      font-size: 400px;
      line-height: 1;
      color: rgba(27, 27, 27, 0.02);
      position: absolute;
      bottom: -30px;
      transform: translateX(-95%);
      left: 50%;
    }

    @include xl {  
      align-items: center;
    }

    @include lg {
        flex-direction: column;
    }

    @include sm {
        margin-bottom: 10px;
    }
  }

  &__left {
    margin-bottom: 40px;

    @include xl {
        margin-bottom: 30px;
    }
    @include lg {
        margin-bottom: 20px;
    }
    @include md {
        margin-bottom: 10px;
    }
    @include sm {
        margin-bottom: 5px;
    }
  }

  &__title,
  &__subtitle {
    margin-bottom: 0;
    text-align: left;
  }
  &__img{
    @include xl {
        max-width: 39%;
    }
    @include lg {
        max-width: 80%;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include lg {
        gap: 15px;
    }
    @include md {
        grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    background-image: url(../images/tape-options-item-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 50px 20px;
    border-radius: 14px;
    overflow: hidden;

    @include lg {
        padding: 30px;
        br{display: none;}
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: 26px;
    line-height: calc(34 / 26 * 100%);

    @include xl {
        font-size: 24px;
    }

    @include lg {
        flex: 22;
    }
  }

  &__item-list{
    margin-top: 15px;
    display: grid;
    gap: 10px;

    @include md {
        margin-top: 10px;
        gap: 5px;
    }
  }
}
