.technical-solution {
  &__form {
    background-color: var(--light-color);
    border-radius: 24px;
    outline: 1px solid rgba($color: #000000, $alpha: 0.1);
    outline-offset: -15px;
    padding: 70px 60px;
    position: relative;
  }

  &__title {
    text-align: left;
    margin: 0;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: calc(34 / 22 * 100%);
    margin: 20px 0 30px;
  }

  &__form-labels{
      max-width: 453px;
      margin-bottom: 50px;
  }

  &__form-bottom{
    max-width: 705px;
  }
  
  &__form-inputs{
    display: flex;
    gap: 10px;
  }
}
